.createRoomInput {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 350px;
}
.createRoomBlock {
  padding:30px 50px;
  border-radius: 20px;
}
.createRoomButton {
  padding: 15px;
  font-size: 20px;
  color: white;
  background: #3660a8;
}